extends ../layouts/master.jade

append titlePage
  title Cosmos Explore

append body
  +body(class="page-header-fixed page-quick-sidebar-over-content page-account page-account-vp")

append body-contents
  ="\n"
  .page-container
    include ../includes/page-sidebar.jade
    ="\n"
    .page-content-wrapper
      .page-content.home-page
        .container
          .content-wallet
            .row
              .col-md-5.col-xs-12.float-right
                .cnt-btn-wallet
                  a(href="#") CONNECT WALLET
              .col-md-7.col-xs-12.float-left
                .content-wall-left
                  .blocks-status
                    .status-items
                      .title Height
                      .number 112
                      .list-link 
                        a(href="#" data-toggle="modal" data-target="#popupStakeTokens") Stake
                    .status-items
                      .title Height
                      .number 23
                      .list-link 
                        a.active(href="#" data-toggle="modal" data-target="#popupUndelegate") UNDELEGATE
                        a(href="#" data-toggle="modal" data-target="#popupRedelega") REDELEGATE
                    .status-items
                      .title Height
                      .number 0
                      .list-link 
                        a(href="#").disable CLAIM
                    .status-items
                      .title Height
                      .number 0
            .content-validate-detail
              .row
                .col-md-7
                  .cnt-wallet-left
                    .cnt-validator
                      .title-vali
                        .title.title-tab
                          ul 
                            li
                              a.active(href="#allvali") All Validators
                            li
                              a(href="#staked") Staked Validators
                        .link-see-all See all >
                      .content-tab-vali
                        .content-tab#allvali
                          .content-detail
                            .cos-table-list
                              .table-responsive
                                table.table.table-striped.table-bordered.table-hover.text-center
                                  thead
                                    tr
                                      th Validator
                                      th Status
                                      th Voting Power
                                      th Commission
                                      th Tokens Staked
                                      th Action
                                  tbody
                                    tr
                                      td
                                        .td-acount
                                          .icon
                                          span Bro_n_Bro
                                      td
                                        span.status
                                          |Active
                                      td
                                        |78,233.10
                                      td 5%
                                      td N/A
                                      td 
                                        a(href="#") DELEGATE
                                    tr
                                      td
                                        .td-acount
                                          .icon
                                          span Bro_n_Bro
                                      td
                                        span.status
                                          |Active
                                      td
                                        |78,233.10
                                      td 5%
                                      td N/A
                                      td 
                                        a(href="#") DELEGATE
                                    tr
                                      td
                                        .td-acount
                                          .icon
                                          span Bro_n_Bro
                                      td
                                        span.status
                                          |Active
                                      td
                                        |78,233.10
                                      td 5%
                                      td N/A
                                      td 
                                        a(href="#") DELEGATE
                                    tr
                                      td
                                        .td-acount
                                          .icon
                                          span Bro_n_Bro
                                      td
                                        span.status
                                          |Active
                                      td
                                        |78,233.10
                                      td 5%
                                      td N/A
                                      td 
                                        a(href="#") DELEGATE
                                    tr
                                      td
                                        .td-acount
                                          .icon
                                          span Bro_n_Bro
                                      td
                                        span.status
                                          |Active
                                      td
                                        |78,233.10
                                      td 5%
                                      td N/A
                                      td 
                                        a(href="#") DELEGATE
                                    tr
                                      td
                                        .td-acount
                                          .icon
                                          span Bro_n_Bro
                                      td
                                        span.status
                                          |Active
                                      td
                                        |78,233.10
                                      td 5%
                                      td N/A
                                      td 
                                        a(href="#") DELEGATE
                                    tr
                                      td
                                        .td-acount
                                          .icon
                                          span Bro_n_Bro
                                      td
                                        span.status
                                          |Active
                                      td
                                        |78,233.10
                                      td 5%
                                      td N/A
                                      td 
                                        a(href="#") DELEGATE
                                    tr
                                      td
                                        .td-acount
                                          .icon
                                          span Bro_n_Bro
                                      td
                                        span.status
                                          |Active
                                      td
                                        |78,233.10
                                      td 5%
                                      td N/A
                                      td 
                                        a(href="#") DELEGATE
                                    tr
                                      td
                                        .td-acount
                                          .icon
                                          span Bro_n_Bro
                                      td
                                        span.status
                                          |Active
                                      td
                                        |78,233.10
                                      td 5%
                                      td N/A
                                      td 
                                        a(href="#") DELEGATE
                                    
                        .content-tab#staked
                          .content-detail
                            .cos-table-list
                              .table-responsive
                                table.table.table-striped.table-bordered.table-hover.text-center
                                  thead
                                    tr
                                      th Validator
                                      th Status
                                      th Voting Power
                                      th Commission
                                      th Tokens Staked
                                      th Action
                                  tbody
                                    tr
                                      td
                                        .td-acount
                                          .icon
                                          span Bro_n_Bro
                                      td
                                        span.status
                                          |Active
                                      td
                                        |78,233.10
                                      td 5%
                                      td N/A
                                      td 
                                        a(href="#") DELEGATE
                                    tr
                                      td
                                        .td-acount
                                          .icon
                                          span Bro_n_Bro
                                      td
                                        span.status
                                          |Active
                                      td
                                        |78,233.10
                                      td 5%
                                      td N/A
                                      td 
                                        a(href="#") DELEGATE
                                    tr
                                      td
                                        .td-acount
                                          .icon
                                          span Bro_n_Bro
                                      td
                                        span.status
                                          |Active
                                      td
                                        |78,233.10
                                      td 5%
                                      td N/A
                                      td 
                                        a(href="#") DELEGATE
                                    tr
                                      td
                                        .td-acount
                                          .icon
                                          span Bro_n_Bro
                                      td
                                        span.status
                                          |Active
                                      td
                                        |78,233.10
                                      td 5%
                                      td N/A
                                      td 
                                        a(href="#") DELEGATE
                                    tr
                                      td
                                        .td-acount
                                          .icon
                                          span Bro_n_Bro
                                      td
                                        span.status
                                          |Active
                                      td
                                        |78,233.10
                                      td 5%
                                      td N/A
                                      td 
                                        a(href="#") DELEGATE
                                    tr
                                      td
                                        .td-acount
                                          .icon
                                          span Bro_n_Bro
                                      td
                                        span.status
                                          |Active
                                      td
                                        |78,233.10
                                      td 5%
                                      td N/A
                                      td 
                                        a(href="#") DELEGATE
                .col-md-5
                  .cnt-wallet-right
                    .cnt-validator
                      .title-vali
                        .title.top-ac
                          |Top Active Proposals
                        .link-see-all See all >
                      .content-detail-vali
                        ul 
                          li
                            .item-vali-detail
                              .title-item-vali
                                .number 1
                                .cnt-text
                                  a(href="#") Status
                                  a.active(href="#") Voting Perlod
                              .box-item-detail 
                                h3 Fixing Centralization From Gamed Stakedrop
                                .sub-title-item This is the account that gamed the fair stakedrop. 
                                ul.info-item
                                  li 
                                    span.title Proposer:
                                    span.info  juno1r…jhwwccx
                                  li 
                                    span.title Submitted on:
                                    span.info  07-Oct-2021 19:55:41
                                  li 
                                    span.title Voting Period:
                                    span.info  12-Oct-2021 19:28:58 to 17-Oct-2021 19:28:58
                              .bottom-item-vali
                                .cnt-vote
                                  button.btn.btn-vote Vote
                                .cnt-vote
                                  .vote Yes: 82%
                                  .notvote NoWithVeto: 0.72%
                                .cnt-vote.cnt-absta
                                  .no-ab No: 12%
                                  .abstain Abstain: 5.28%
                          li
                            .item-vali-detail
                              .title-item-vali
                                .number 1
                                .cnt-text
                                  a(href="#") Status
                                  a.active(href="#") Voting Perlod
                              .box-item-detail 
                                h3 Fixing Centralization From Gamed Stakedrop
                                .sub-title-item This is the account that gamed the fair stakedrop. 
                                ul.info-item
                                  li 
                                    span.title Proposer:
                                    span.info  juno1r…jhwwccx
                                  li 
                                    span.title Submitted on:
                                    span.info  07-Oct-2021 19:55:41
                                  li 
                                    span.title Voting Period:
                                    span.info  12-Oct-2021 19:28:58 to 17-Oct-2021 19:28:58
                              .bottom-item-vali
                                .cnt-vote
                                  button.btn.btn-vote Vote
                                .cnt-vote
                                  .vote Yes: 82%
                                  .notvote NoWithVeto: 0.72%
                                .cnt-vote.cnt-absta
                                  .no-ab No: 12%
                                  .abstain Abstain: 5.28%
          
          // .member-main
    // .page-content
  // .member
  //.page-container

  ="\n"
  include ../includes/popupConfirmation.jade
  include ../includes/popupUnde.jade
  include ../includes/popuprede.jade
