.table-bordered > thead > tr > th .sorting_asc {
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 2px;
}

.table-bordered > thead > tr > th .sorting_asc .fa {
    line-height: 10px;
}
.connect-button {
    background: #004469;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 25px;
    color: #fff;
    border-radius: 10px;
    margin: 10px 0;
}
.no-data {
    color: #004469;
    font-size: 16px;
    font-weight: 600
}
.page-content .content-wallet .content-proposal-detail .cnt-proppsals .content-tab-proposal .item-proposal-detail .box-item-detail-proposal .left-item-detail {
    padding-right: 15px;
}
#popupStakeTokens .content-stake .dropdown ul, #popupUndelegate .content-stake .dropdown ul, #popupRedelega .content-stake .dropdown ul{
    max-height: 300px;
    overflow-y: auto;
}
#popupStakeTokens .content-stake .dropdown li .item-stake input, #popupUndelegate .content-stake .dropdown li .item-stake input, #popupRedelega .content-stake .dropdown li .item-stake input{
    width: 100%;
    height: 36px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 5px 10px;
}