include ../includes/body.jade

doctype html
html(lang='en')
  head
    meta(charset="utf-8")

    block titlePage
      
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    ="\n"
    // Vendor CSS (GLOBAL MANDATORY STYLES)
    link(rel='stylesheet', type='text/css', href='assets/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='assets/css/bootstrap.min.css')
    link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,600;0,700;1,500;1,600&display=swap" rel="stylesheet")
    ="\n"
    block css
      ="\n"
      // Theme CSS
      link(rel='stylesheet', type='text/css', href='assets/css/custom.css')
      link(rel='stylesheet', type="text/css", href='assets/css/admin.css')

    ="\n"
  ="\n"
  block body
