.page-footer
	.container
		.logo
			a(href="main.html")
				img(src="../../assets/images/logo/logo_white.png", alt='index')
		.copy-right
			.note-search
				p Download Cosmostation Wallet!
			.footer-bottom
				.header-app
					.row
						.col-md-4
							a.link-app(href='#', target='_blank')
								img(src="../../assets/images/playstore.svg", alt='index')
						.col-md-4
							a.link-store(href='#', target='_blank')
								img(src="../../assets/images/appstore.svg", alt='index')
						.col-md-4
							a.link-wallet(href='#', target='_blank')
								img(src="../../assets/images/wallet.svg", alt='index')
								span Web Wallet
				.footer-copy
					<a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
					<a href="../icon/envelope"><i class="fa fa-envelope" aria-hidden="true"></i></a>
					span © COSMOSTATION 2019
  
