.header-fix
    .page-header
      .page-header-inner.container
        // BEGIN LOGO
        .logo-login
            a(href="main.html")
                img(src="../../assets/images/logo/logo.png", alt='index')
        // .top-menu
    // .page-header
.clearfix