.header-fix
    .page-header
      .page-header-inner.container
        // BEGIN LOGO
        .logo
            a(href="main.html")
                img(src="assets/images/logo/logo.png", alt='index')
        .navbar.nav_title
          .information-user
            p Good evening,
             span.old Tam 30.
            // .dropdown-user
          .thumbnail-user
            img.icon-user( src="assets/images/acount.jpg" alt="menu")
        // .top-menu
    // .page-header
.clearfix