.page-sidebar-wrapper.vetical-menu
  .page-sidebar.navbar-collapse.collapse
    .cnt-hec-logo
      a(href="#")
        .icon 
          img(src="assets/images/logo.png", alt='index')
    ul.page-sidebar-menu(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')
      li.menu-active
        a(href='home.html')
          .icon
            img.default(src="assets/images/icon/dash.svg", alt='index')
            img.active(src="assets/images/icon/dash_ac.svg", alt='index')
          span.title DASHBOARD

      ="\n"
      li
        a(href='stake.html')
          .icon
            img.default(src="assets/images/icon/data.svg", alt='index')
            img.active(src="assets/images/icon/data_ac.svg", alt='index')
          span.title STAKE

      ="\n"
      li
        a(href='proposal.html')
          .icon
            img.default(src="assets/images/icon/pro.svg", alt='index')
            img.active(src="assets/images/icon/pro_ac.svg", alt='index')
          span.title PROPOSALS


// .page-sidebar-wrapper
