#popupConfirmFinish.modal.modal-dialog-centered.fade.popup_customer(tabindex='-1',role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') 
          span 
            img( src="../../assets/images/close.svg" alt="icon close")
      .modal-body
        h4.title-popup Please in put your password
        .cnt-pass 
          input(type="text" id="transaction_id_copy" class="transaction_id" readonly="")
      .modal-footer
        button.btn.bgr_org(type='button') CONFIRM
